@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px;
    padding: 16px;
    margin-bottom: 50px;
}
header {
    background-color: orangered;
    padding: 24px;

}
.grid-container {
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item{

}
/* .home-page {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    row-gap: 0.5em;
    column-gap: 0.5em;
} */
/* .my-grid {
    display: grid;
    grid-template-columns: repeat: (4, 1fr);
    grid-gap: 20px
} */

/* .recipe:last-child {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
} */

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 25px ;
    background-color: yellowgreen;
    font-size:150%
}
img {
    height: 200px;
}
nav {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid greenyellow;
    padding: 16px;

}
nav a {
    color: white
}
a:hover {
    color:green;
}
a {
    color: green;
    text-decoration: none;
}
h1 {
    color: green;
    text-decoration: none;
}

.striped-table tr:nth-child(even) {
    background-color: lightgrey;
}
